<div class="app">
  <h1>Barcode Scanner</h1>
  <!-- <div id="scanner-container"></div> -->
  <!-- <barcode-scanner-livestream
    [config]="config"
    (valueChanges)="onValueChanges($event)"
    (started)="barcodeScanStarted()"
  ></barcode-scanner-livestream> -->
  <zxing-scanner
    [formats]="allowedFormats"
    [tryHarder]="manuallForm.value.tryHarder"
    [enable]="started"
    (scanSuccess)="scanSuccessHandler($event)"
  ></zxing-scanner>
  <form [formGroup]="manuallForm" *ngIf="!isManuallLogic">
    <mat-checkbox
      [checked]="manuallForm.value.tryHarder"
      (change)="changeTryHarder($event)"
      color="primary"
    >
      Try harder
    </mat-checkbox>
  </form>
  <form [formGroup]="manuallForm" *ngIf="isManuallLogic">
    <mat-form-field appearance="fill" [color]="'white'">
      <mat-label>Barcode value</mat-label>
      <input type="number" formControlName="barcode" matInput />
    </mat-form-field>
    <button (click)="submit()">Submit</button>
  </form>

  <div class="prompt" *ngIf="!barcodeValue">
    <h2>
      {{
        isManuallLogic ? "Enter barcode value" : "Scan barcode to see result"
      }}
    </h2>
  </div>

  <div class="prompt alt" *ngIf="!barcodeValue" (click)="enterManually()">
    <h2>{{ isManuallLogic ? "or scan with camera" : "or enter manually" }}</h2>
  </div>

  <div *ngIf="barcodeValue">
    <h2>{{ barcodeValue }}</h2>
  </div>

  <div class="controls" *ngIf="!started && barcodeValue" (click)="newScan()">
    <button>New Scan</button>
  </div>
</div>
