<div class="app">
  <h1>Barcode Scanner</h1>
  <!-- <div id="scanner-container"></div> -->
  <barcode-scanner-livestream
    type="ean"
    (valueChanges)="onValueChanges($event)"
    (started)="barcodeScanStarted()"
  ></barcode-scanner-livestream>
  <div class="prompt" *ngIf="!barcodeValue">
    <h2>Scan barcode to see result</h2>
  </div>
  <div *ngIf="barcodeValue">
    <h2>{{ barcodeValue }}</h2>
  </div>

  <div class="controls" *ngIf="!started && barcodeValue">
    <button (click)="newScan()">New Scan</button>
  </div>
</div>
