::ng-deep .drawingBuffer {
  display: none;
}
::ng-deep video {
  width: 100vw;
  height: 350px;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  color: #fff;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.prompt {
  color: rgb(172, 172, 172);
}
